@charset "utf-8";
/* CSS Document */

html {
    position: relative;
    min-height: 93%;
}

body {
    display: block;
    background: url(img/background.jpg) center center / cover no-repeat fixed;
    padding: 0;
    margin: 0 0 40px;
}

/* Home Link */
#months .navbar {
    min-height:30px;
}

a.navbar-brand {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 0;
}

/* All Links */
#months a {
    color: #404040;
}

#months a:hover,
#months a:active {
    font-weight: bold;
    outline: none;
}

/* Months Menu */
.sidenav {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.sidenav p {
    font-size: 26px;
    margin-top: -5px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.selectMonth{
    padding-right: 20px;
    cursor: pointer;
}

li {
    display: inline-block;
    list-style: none;
    padding: 3px;
}

/* Title Divider */
.hrStyle {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/* Month */
h2 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.mainContent p {
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 25px;
}

.hideBackTop {
    visibility: hidden;
}

.showBackTop {
    visibility: visible;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    padding-top: 30px;
}

/** Media Queries **/
@media screen and (max-width: 450px) {
    p#show {
        margin-left: 15px;
        margin-right: 15px;
    }
}